# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
#local environment files
.env
supabase/.temp
supabase/hardening/
supabase/.branches
supabase/explore_foundation_hardening.sql
supabase/marketplace_seller_schema.sql
supabase/marketplace_buyer_schema.sql
supabase/
# supabase
supabase/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*
