@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes radarFloat {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.animate-radarFloat {
  animation: radarFloat 1s ease-in-out infinite;
}